<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloneccsrobjectmapping.infrastructure.kit.StarterKitMapper">

    <resultMap id="findAllResult" type="com.cloneccsrobjectmapping.domain.model.kit.StarterKit">
        <id property="starterKitNumber.value" column="starterKitNumber.value"/>
        <result property="specification.dateOfSeed.value" column="specification.dateOfSeed.value"/>
        <result property="specification.caseType" column="caseType" />
        <result property="specification.covered" column="covered" />
        <collection property="specification.rows.list" ofType="com.cloneccsrobjectmapping.domain.model.row.Row"
                    column="starterKitNumber.value"
                    select="com.cloneccsrobjectmapping.infrastructure.row.RowMapper.rows"/>
        <collection property="specification.features.list"
                    ofType="com.cloneccsrobjectmapping.domain.model.feature.Feature"
                    column="starterKitNumber.value"
                    select="com.cloneccsrobjectmapping.infrastructure.feature.FeatureMapper.features"/>
    </resultMap>

    <select id="findStarterKitList" resultMap="findAllResult">
        SELECT
            キット.キット番号 AS "starterKitNumber.value"
          , キット.種まき日 AS "specification.dateOfSeed.value"
          , キット.素材 AS "caseType"
          , キット.カバー AS "covered"
        FROM
            商品.栽培キット キット
    </select>

    <select id="test" resultType="com.cloneccsrobjectmapping.domain.model.kit.SingleStarterKit">
        SELECT
            キット.キット番号 AS "starterKitNumber.value"
          , キット.種まき日 AS "dateOfSeed.value"
          , キット.素材 AS "caseType"
          , キット.カバー AS "covered"
        FROM
            商品.栽培キット キット
    </select>
</mapper>