<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloneccsrobjectmapping.infrastructure.kit.StarterKitMapper">
    <resultMap id="StarterKitMapping" type="com.cloneccsrobjectmapping.domain.model.kit.SingleStarterKit">

    </resultMap>
    <select id="findAllKits" resultMap="StarterKitMapping">
        SELECT
             キット.キット番号 AS "StarterKitNumber.value"
        FROM
            商品.栽培キット キット;
    </select>
</mapper>