<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="_parts/meta/header::htmlhead(~{::title})">
    <title>DashBoard</title>
</head>
<body>
<main class="container">
    <article class="py-5 px-5">
        <h4>管理数 : <span th:text="${starterKitList.count()}"/></h4>
        <table class="container table text-left pull-left align-middle">
            <thead>
            <tr>
                <th>id</th>
                <th>カバー</th>
                <th>種まき日</th>
                <th>素材</th>
                <th>特徴</th>
                <th>列の構成</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="each:${starterKitList.asList()}">
                <td th:text="${each.starterKitNumber.value()}"></td>
                <td th:text="${each.when()}"></td>
                <td th:text="${each.specification.covered()}"></td>
                <td th:text="${each.specification.caseType()}"></td>
                <td th:text="${each.specification.features()}"></td>
                <td>
                    <table>
                        <tbody>
                        <tr th:each="row,rowStat:${each.specification.rows().asList()}">
                            <td th:text="${rowStat.count}"></td>
                            <td th:text="${row.variety()}"></td>
                            <td th:text="${row.seedsPerCell()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </article>

    <article>
        <hr class="my-4">
        <h2>栽培キットの追加</h2>
        <form action="#" method="post" th:action="@{/kit}" th:object="${specification}">
            <div class="my-3">
                <h4>植付日</h4>
                <input id="seedOfDate" th:field="${specification.dateOfSeed.value}" type="date">
            </div>
            <div class="my-3">
                <h4>カバー</h4>
                <input class="form-check-input" id="covered" type="checkbox">
                <label class="form-check-label" for="covered">カバー有り</label>
            </div>
            <div class="my-3">
                <h4>ケースの材質</h4>
                <div th:each="each:${allCaseTypes}">
                    <input class="form-check-input" th:field="${specification.caseType}" th:value="${each}"
                           type="radio">
                    <label class="form-check-label" th:for="${#ids.prev('caseType')}"
                           th:text="${each}"/>
                </div>
            </div>
            <div class="my-3">
                <h4>特徴</h4>
                <div th:each="each:${allFeatures}">
                    <input class="form-check-input" th:field="${specification.features.list}" th:value="${each}"
                           type="checkbox">
                    <label class="form-check-label" th:for="${#ids.prev('features.list')}" th:text="${each}"/>
                </div>
            </div>
        </form>
    </article>
</main>
</body>
</html>